.sheet-page {
    width: 773px;
    height: 1000px;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sheet-page-1 {
    background-image: url("https://raw.githubusercontent.com/GTroling/neon-odyssey-roll20/main/page1.png");
}

.sheet-page-2 {
    background-image: url("https://raw.githubusercontent.com/GTroling/neon-odyssey-roll20/main/page2.png");
}

.sheet-page-3 {
    background-image: url("https://raw.githubusercontent.com/GTroling/neon-odyssey-roll20/main/page3.png");
}
